
ion-input{
  border: 1px solid ;
  width: 80%;
  border-radius: 8px;
}
.error{
    color:red;
    list-style: none; 
} 
.login{
  margin-top: -15px;
  margin-bottom: 20px;
  text-align: center;
}
.main-div{
    background: ('/../../src/assets/icon/simple-img.png');
}
.setimg{
  text-align:right;
}
.example-container mat-form-field + mat-form-field {
    margin-left: 8px;
  } 
  .example-right-align {
    text-align: right;
  }
  input.example-right-align::-webkit-outer-spin-button,
  input.example-right-align::-webkit-inner-spin-button {
    display: none;
  }
.icon{
  font-size: 20px;
  padding-right: 10px;
  color:rgb(99, 92, 92);
}
// .btn{
//   width: -webkit-fill-available;
//   height: 44px;
//   background-color: #007fdc !important;
//   margin: 0px 16px;
//   border-radius: 50px;
//   box-shadow: none !important;
//   font-size: 16px;
// }
.span{
  color: #0081dc;
}
.p1{
  padding-right: 20px;
  color: #0081dc;
  margin-top: 0px!important;
  text-align: right;
  margin-bottom: 12px;
}
.matfield{
  text-align: center;
}
.w-75{
  width:90%;
  margin: 0 10px; 
}
.setimg2{
   position: fixed;
  bottom: 0%;
  left: 0%;
  z-index: -1;
}

.form_login{
  z-index: 111!important;
  
  background-color: #ffffff!important;
}

::ng-deep .mat-form-field-flex > .mat-form-field-infix {
  padding: 0.3em 0px 10px 0px !important;
  }
::ng-deep .mat-form-field-label-wrapper { top: -1.5em; }

::ng-deep .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
    transform: translateY(-1.1em) scale(.75);
    width: 133.33333%;
}



.custom-loading {
  backdrop-filter: blur(4px); // Optional: blur effect for the backdrop
}

.custom-spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.custom-spinner-icon {
  width: 50px; // Customize the logo size
  height: 50px; // Customize the logo size
}

.custom-toast {
  --background: #3880ff; // Customize toast background color
  --color: #fff; // Customize toast text color
}

