<!-- 
<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1" >
      <ion-icon name="home" style="font-size:20px; "></ion-icon>
      <ion-label style="color: black !important;">Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="search-outline" style="font-size:20px"></ion-icon>
      <ion-label style="color: black !important;">Search</ion-label>

    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="albums-outline" style="font-size:20px; "></ion-icon>
      <ion-label style="color: black !important;">Recommended</ion-label>
     
    </ion-tab-button>


    <ion-tab-button tab="tab4" >
      <ion-icon name="bookmark-outline"  style="font-size:20px; "></ion-icon>
      <ion-label style="color: black !important;">Shortlist</ion-label>
    </ion-tab-button>
    

    <ion-tab-button tab="tab5">
      <ion-icon name="chatbox-outline"  style="font-size:20px; "></ion-icon>
      <ion-label style="color: black !important;">Assistant</ion-label>
    </ion-tab-button> 
  </ion-tab-bar>

</ion-tabs> -->


<ion-tabs>
  <ion-tab-bar slot="bottom" class="main-tab-bar">

    <ion-tab-button tab="tab1">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="search-outline"></ion-icon>
      <ion-label>Search</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="albums-outline"></ion-icon>
      <ion-label>Recommended</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab4">
      <ion-icon name="bookmark-outline"></ion-icon>
      <ion-label>Shortlist</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab5">
      <ion-icon name="chatbox-outline"></ion-icon>
      <ion-label>Assistant</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>
