
<ion-header>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col size="1">
          <ion-icon style="margin-top: 5px;" name="chevron-back-outline"  routerLink="/coursewiseexam"></ion-icon>  
        </ion-col>
        <ion-col size="8">
          
          <ion-buttons>
            <ion-menu-button></ion-menu-button>
          </ion-buttons>
        </ion-col>
        <ion-col size="3" class="text-right selfcenter flex just-right">
          
          <div class="notification">
            <!-- <ion-icon name="notifications-outline"></ion-icon> -->
            <ion-badge color="danger"></ion-badge>
            <ion-icon routerLink="/editprofile" name="person-outline"></ion-icon>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="maindiv" >
    <div *ngFor=" let item of coursesArray">
    
    <div>
      <!-- <img class="imageset" src="../../../assets/clg_img/cinema.png"> -->
      <img class="imageset" [src]="item.image">
    </div>
    <div>
      <h5>Exam Details:</h5>
      <p [innerHTML]="item.description" class="mx-10"></p>
    </div>
 
  
  <h5>Other Details:</h5>
  <div class="mx-10">
  <ion-segment [scrollable]="true" value="Criteria" (ionChange)="segmentChanged($event)">
    <ion-segment-button class="seg-btnns" value="Criteria">

      <ion-label>Criteria</ion-label>
    </ion-segment-button>

    <ion-segment-button class="seg-btnns" value="Process">
      <ion-label>Process</ion-label>
    </ion-segment-button>
    <ion-segment-button class="seg-btnns" value="Pattern">
      <ion-label>Pattern</ion-label>
    </ion-segment-button>
  </ion-segment>

  <div *ngIf="selectedSegment === 'Criteria'">
    <p [innerHTML]="item.criteria"></p>
  </div>
  <div *ngIf="selectedSegment === 'Process'">
    <p [innerHTML]="item.process"></p>    </div>
  <div *ngIf="selectedSegment === 'Pattern'">
    <p [innerHTML]="item.pattern" style="overflow-x: scroll;"></p>
  </div>

</div>

</div>
</div>
</ion-content>


<ion-footer class="main-footer">
  <ion-toolbar>

    <div class="footer-tabs">

      <div class="footer-btn" routerLink="/tabs/tabs/tab1">
        <ion-icon name="home"></ion-icon>
        <span>Home</span>
      </div>

      <div class="footer-btn" routerLink="/tabs/tabs/tab2">
        <ion-icon name="search-outline"></ion-icon>
        <span>Search</span>
      </div>

      <div class="footer-btn" routerLink="/tabs/tabs/tab3">
        <ion-icon name="albums-outline"></ion-icon>
        <span>Recommended</span>
      </div>

      <div class="footer-btn" routerLink="/tabs/tabs/tab4">
        <ion-icon name="bookmark-outline"></ion-icon>
        <span>Shortlist</span>
      </div>

      <div class="footer-btn" routerLink="/tabs/tabs/tab5">
        <ion-icon name="chatbox-outline"></ion-icon>
        <span>Assistant</span>
      </div>

    </div>

  </ion-toolbar>
</ion-footer>
