<ion-header>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col size="1">
          <ion-icon style="margin-top: 5px;" name="chevron-back-outline" routerLink="/tabs/tabs/tab1"></ion-icon>
        </ion-col>
        <ion-col size="8">
          <ion-buttons>
            <ion-menu-button></ion-menu-button>
          </ion-buttons>
        </ion-col>
        <ion-col size="3" class="text-right selfcenter flex just-right">
          <div class="notification">
            <!-- <ion-icon name="notifications-outline"></ion-icon> -->
            <ion-badge color="danger"></ion-badge>
            <ion-icon routerLink="/editprofile" name="person-outline"></ion-icon>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>

  </ion-toolbar>
</ion-header>





<ion-content style="--background: aliceblue;">
  <div>
    <div class="m10">
      <div>
        <h5 style="text-align: center;">College List By Location</h5>
      </div>

      <div *ngIf="clgArry && clgArry.length > 0; else noData">
        <div *ngFor="let clglist of clgArry" lines="none">
          <ion-card class="size_set">
            <img class="img_align" [src]="clglist.logo" onerror="this.src='../../assets/clg_img/no_image2.jpg';">

            <p class="tit_set" (click)="getclgid(clglist.id)">{{ clglist.title }}</p>

            <p class="set_botm">
              <ion-icon name="location-outline"></ion-icon>{{ clglist.city }}. {{ clglist.accreditation }}
            </p>

            <p class="courserate">
              <span>Total Courses - {{ clglist.coursesCount }}</span>  
              <span class="spnn" *ngIf="clglist.rating> 0">  <ion-icon name="star" style="color:greenyellow"></ion-icon>{{ clglist.ratings }}</span >
            </p>

            <ion-row>
           
              <div class="img_alignn" [ngClass]="{'shortlisted': isShortlisted(clglist.id)}"
                (click)="toggleShortlist(clglist.id)">
                <ion-icon [name]="isShortlisted(clglist.id) ? 'bookmark' : 'bookmark-outline'"
                  [class.active]="isShortlisted(clglist.id)">
                </ion-icon>
              </div>

              <ion-button (click)="brochure(clglist.id)">Brochure</ion-button>

              <ion-button (click)="clgpredict(clglist.id, clglist.CatId, clglist.subCatName)">
                Predict Admission
              </ion-button>
            </ion-row>
          </ion-card>
        </div>
      </div>

      <ng-template #noData>
        <p style="text-align:center; margin:20px;"></p>
      </ng-template>
    </div>
  </div>
</ion-content>




<ion-footer>
  <ion-row>
    <ion-tab-button class="botmtabset" routerLink="/tabs/tabs/tab1">
      <ion-icon name="home" style="font-size:20px; color:black !important"></ion-icon>
      <ion-label style="color:black !important">Home</ion-label>
    </ion-tab-button>

    <ion-tab-button class="botmtabset" tab="tab2" routerLink="/tabs/tabs/tab2">
      <ion-icon name="search-outline" style="font-size:20px; color:black !important"></ion-icon>
      <ion-label style="color:black !important">Search</ion-label>
    </ion-tab-button>


    <ion-tab-button class="botmtabset" routerLink="/tabs/tabs/tab3">
      <ion-icon name="albums-outline" style="font-size:20px; color:black !important"></ion-icon>
      <ion-label style="color:black !important">Recommended</ion-label>
    </ion-tab-button>

    <ion-tab-button class="botmtabset" routerLink="/tabs/tabs/tab4">
      <ion-icon name="bookmark-outline" style="font-size:20px; color:black !important"></ion-icon>
      <ion-label style="color:black !important">Shortlist</ion-label>
    </ion-tab-button>

    <ion-tab-button class="botmtabset" routerLink="/tabs/tabs/tab5">
      <ion-icon name="chatbox-outline" style="font-size:20px; color:black !important"></ion-icon>
      <ion-label style="color:black !important">Assistant</ion-label>
    </ion-tab-button>

  </ion-row>
</ion-footer>