<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col size="2">
         
        </ion-col>
        <ion-col size="8" class="selfcenter text-center">
          <h6 class="m0">What is your preferred course?</h6>
        </ion-col>
       
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>



<ion-content fullscreen="true" style="--background: aliceblue;">
<div class="prefCourse" *ngFor="let item of Category; let i = index">

  <ion-item class="course-item" (click)="getLevels(item.id)">

    <!-- Left Icon -->
    <ion-avatar slot="start">
      <img src="assets/images/{{item.catname?.trim()}}.png">
    </ion-avatar>

    <!-- Middle Text -->
    <ion-label>
      <h6 class="m0">{{ item.catname }}</h6>
      <p>{{ item.Total_Courses }}</p>
    </ion-label>

    <!-- Right Arrow -->
    <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>

  </ion-item>

</div>
</ion-content>
