<div>
  <div class="tabbody px-12">



    <div class="ovrallrating">



      <div *ngIf="totalRateCount !== null && totalRateCount !== undefined && 
             four2fiveRate !== null && four2fiveRate !== undefined &&
             three2fourRate !== null && three2fourRate !== undefined &&
             two2threeRate !== null && two2threeRate !== undefined &&
             one2twoRate !== null && one2twoRate !== undefined">
        <h5 class="headtxt">
          Average rating of this institute
        </h5>
        <div>
          <h2 class="headtxt">Overall rating <span class="sbtxt">(Out of 5)</span></h2>
        </div>

        <ion-row class="py-12">
          <ion-col size="2">
            <h1>{{ totalRateCount }}</h1>
          </ion-col>
          <ion-col size="10">
            <ion-icon *ngFor="let star of getStarArray(totalRateCount)" [name]="star" class="starrate"></ion-icon>
            <p class="p">Based on {{ totalReview }} Verified Reviews</p>
          </ion-col>
        </ion-row>

        <ion-row *ngIf="four2fiveRate !== null && four2fiveRate !== undefined">
          <ion-col size="3">
            <span class="blutxt">> 4-5 star</span>
          </ion-col>
          <ion-col size="7" class="selfcenter">
            <mat-progress-bar mode="determinate" [value]="four2fiveRate"></mat-progress-bar>
          </ion-col>
          <ion-col size="2">
            <span>{{ four2fiveRate }}%</span>
          </ion-col>
        </ion-row>

        <ion-row *ngIf="three2fourRate !== null && three2fourRate !== undefined">
          <ion-col size="3">
            <span class="blutxt">> 3-4 star</span>
          </ion-col>
          <ion-col size="7" class="selfcenter">
            <mat-progress-bar mode="determinate" [value]="three2fourRate"></mat-progress-bar>
          </ion-col>
          <ion-col size="2">
            <span>{{ three2fourRate }}%</span>
          </ion-col>
        </ion-row>

        <ion-row *ngIf="two2threeRate !== null && two2threeRate !== undefined">
          <ion-col size="3">
            <span class="blutxt">> 2-3 star</span>
          </ion-col>
          <ion-col size="7" class="selfcenter">
            <mat-progress-bar mode="determinate" [value]="two2threeRate"></mat-progress-bar>
          </ion-col>
          <ion-col size="2">
            <span>{{ two2threeRate }}%</span>
          </ion-col>
        </ion-row>

        <ion-row *ngIf="one2twoRate !== null && one2twoRate !== undefined">
          <ion-col size="3">
            <span class="blutxt">> 1-2 star</span>
          </ion-col>
          <ion-col size="7" class="selfcenter">
            <mat-progress-bar mode="determinate" [value]="one2twoRate"></mat-progress-bar>
          </ion-col>
          <ion-col size="2">
            <span>{{ one2twoRate }}%</span>
          </ion-col>
        </ion-row>
      </div>






      <div class="py-12">


        <!-- Check if any rating count is null -->
        <ng-container
          *ngIf="!totalPlacementRateCount && !totalInfrastructureRateCount && !totalFacultyRateCount && !totalCampusRateCount && !totalMoneyRateCount; else ratingsContent">
          <p></p>
        </ng-container>

        <ng-template #ratingsContent>
          <h2 class="headtxt">Component rating <span class="sbtxt">(Out of 5)</span></h2>
          <ion-row>
            <ion-col size="5">
              <span>Placements</span>
            </ion-col>
            <ion-col size="7">
              <span class="rtvalue">{{totalPlacementRateCount}}</span>
              <ion-icon *ngFor="let star of getStarArray(totalPlacementRateCount)" [name]="star"
                class="starrate"></ion-icon>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="5">
              <span>Infrastructure</span>
            </ion-col>
            <ion-col size="7">
              <span class="rtvalue">{{totalInfrastructureRateCount}}</span>
              <ion-icon *ngFor="let star of getStarArray(totalInfrastructureRateCount)" [name]="star"
                class="starrate"></ion-icon>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="5">
              <span>Faculty & Course Curriculum</span>
            </ion-col>
            <ion-col size="7">
              <span class="rtvalue">{{totalFacultyRateCount}}</span>
              <ion-icon *ngFor="let star of getStarArray(totalFacultyRateCount)" [name]="star"
                class="starrate"></ion-icon>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="5">
              <span>Crowd & Campus Life</span>
            </ion-col>
            <ion-col size="7">
              <span class="rtvalue">{{totalCampusRateCount}}</span>
              <ion-icon *ngFor="let star of getStarArray(totalCampusRateCount)" [name]="star"
                class="starrate"></ion-icon>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="5">
              <span>Value For Money</span>
            </ion-col>
            <ion-col size="7">
              <span class="rtvalue">{{totalMoneyRateCount}}</span>
              <ion-icon *ngFor="let star of getStarArray(totalMoneyRateCount)" [name]="star"
                class="starrate"></ion-icon>
            </ion-col>
          </ion-row>
        </ng-template>
      </div>




      <div *ngIf="reviewsssArr && reviewsssArr.length > 0">
        <ion-segment [scrollable]="true" class="segmentStud" value="tabs1" (ionChange)="studentSay($event)">

          <ion-segment-button class="seg-btn" value="tabs1">
            <ion-label>Placements</ion-label>
          </ion-segment-button>
          <ion-segment-button class="seg-btn" value="tabs2">
            <ion-label>Infrastructure </ion-label>
          </ion-segment-button>
          <ion-segment-button class="seg-btn" value="tabs3">
            <ion-label>Faculty </ion-label>
          </ion-segment-button>

          <ion-segment-button class="seg-btn" value="tabs4">
            <ion-label>Hostel </ion-label>
          </ion-segment-button>

          <ion-segment-button class="seg-btn" value="tabs5">
            <ion-label>Campus </ion-label>
          </ion-segment-button>

          <ion-segment-button class="seg-btn" value="tabs6">
            <ion-label>Money </ion-label>
          </ion-segment-button>

        </ion-segment>
        <div *ngIf="segmentStud === 'tabs1'">
          <div class="tabbody">
            <ul>
              <li *ngFor="let item of reviewsssArr">{{item.placement_desc}}</li>
            </ul>

          </div>
        </div>
        <div *ngIf="segmentStud === 'tabs2'">
          <div class="tabbody">

            <ul>
              <li *ngFor="let item of reviewsssArr">{{item.infrastructure_desc}}</li>
            </ul>
          </div>
        </div>
        <div *ngIf="segmentStud === 'tabs3'">
          <div class="tabbody">

            <ul>
              <li *ngFor="let item of reviewsssArr">{{item.faculty_desc}}</li>
            </ul>
          </div>
        </div>

        <div *ngIf="segmentStud === 'tabs4'">
          <div class="tabbody">

            <ul>
              <li *ngFor="let item of reviewsssArr">{{item.hostel_desc}}</li>
            </ul>
          </div>
        </div>

        <div *ngIf="segmentStud === 'tabs5'">
          <div class="tabbody">

            <ul>
              <li *ngFor="let item of reviewsssArr">{{item.campus_desc}}</li>
            </ul>
          </div>
        </div>

        <div *ngIf="segmentStud === 'tabs6'">
          <div class="tabbody">

            <ul>
              <li *ngFor="let item of reviewsssArr">{{item.money_desc}}</li>
            </ul>
          </div>
        </div>
      </div>


      <!-- review section  -->
      <div *ngIf="reviewsArr && reviewsArr.length > 0">

        <div class="cardcust userReview" *ngFor="let item of reviewsArr">
          <ion-row>
            <ion-col size="2">
              <!-- <h1 *ngIf="item.user_name?.charAt(0)" class="firctchar">{{item.user_name.charAt(0)}}</h1> -->
           
              <h1 *ngIf="item?.user_name; else showDefaultIcon" class="firstchar">
                {{ item.user_name.charAt(0) }}
              </h1>
              <ng-template #showDefaultIcon class="firstchar">
                <ion-icon name="person" style="border: 10px solid #b74949;"></ion-icon>
              </ng-template>  

           
            </ion-col>
            <ion-col size="7">
              <h2>{{item.user_name}}</h2>
              <p class="sbtxt">{{item.coursename}}</p>
            </ion-col>
            <ion-col size="3">
              <div class="rates">
                <ion-icon name="shield-checkmark"></ion-icon> Verified
              </div>
            </ion-col>
          </ion-row>
          <div class="ratingBtns">
            <ion-button fill="outline" size="small">
              <ion-icon slot="start" name="star"></ion-icon>{{item.placement_rate}} Placements
            </ion-button>
            <ion-button fill="outline" size="small">
              <ion-icon slot="start" name="star"></ion-icon>{{item.infrastructure_rate}} Infrastructure
            </ion-button>
            <ion-button fill="outline" size="small">
              <ion-icon slot="start" name="star"></ion-icon>{{item.faculty_rate}} Faculty
            </ion-button>
            <ion-button fill="outline" size="small">
              <ion-icon slot="start" name="star"></ion-icon>{{item.campus_rate}} Campus life
            </ion-button>
            <ion-button fill="outline" size="small">
              <ion-icon slot="start" name="star"></ion-icon>{{item.money_rate}} Value For Money
            </ion-button>
          </div>
          <p><span>Placements: </span> {{item.placement_desc}} </p>
          <p><span>Infrastructure: </span> {{item.infrastructure_desc}}.</p>
          <p><span>Faculty: </span> {{item.faculty_desc}}</p>
          <p><span>Campus Life: </span> {{item.campus_desc}}</p>
          <p><span>Value For Money: </span> {{item.money_desc}}</p>

          <ion-row class="thumbicon">
            <ion-col class="setlikecol">
              <div>Was this review helpful </div>

              <div style="display: flex;">
                <!-- Thumbs Up Icon -->
                <span class="span" (click)="isThumbsUpClicked = !isThumbsUpClicked; isThumbsDownClicked = false;">
                  <ion-icon name="thumbs-up" class="icon thumbs-up"
                    [style.color]="isThumbsUpClicked ? 'blue' : 'black'">
                  </ion-icon>
                </span>

                <!-- Separator -->
                <span class="span">|</span>

                <!-- Thumbs Down Icon -->
                <span class="span"
                  (click)="isThumbsDownClicked = !isThumbsDownClicked; isThumbsUpClicked = false;">
                  <ion-icon name="thumbs-down" class="icon thumbs-down"
                    [style.color]="isThumbsDownClicked ? 'red' : 'black'">
                  </ion-icon>
                </span>
              </div>


            </ion-col>
          </ion-row>
        </div>

      </div>

      <!-- end -->

    </div>
  </div>



  <!--  -->


  <div class="thirdsectionpop" *ngIf="popularclgarry && popularclgarry.length > 0">
    <div class="HeadTxt">
      <h5>Explore popular similar colleges</h5>
     
    </div>

    <div>
      <ion-slides [options]="slideOptsnew">
       
        <ion-slide  *ngFor="let item of popularclgarry">
          <ion-card class="size_setpop" style="margin-left: 0;width: 97%!important;">
            <div class="imgHeadpop">
            
             
                <p class="tit_setpop" (click)="getclgid(item.collegeid)">
                {{ item.title.length > 30 ? (item.title | slice:0:30) + '...' : item.title }}
              </p>
              <img class="img_alignpop" [src]="item.logo" onerror="this.src='../../assets/clg_img/no_image2.jpg';">
            </div>

            <p class="set_botm">
              <ion-icon name="location-outline"></ion-icon>{{item.city}}
            </p>
            <p style="display: flex;"> <span class="spnpop"></span>
              <span class="spnn" *ngIf="item.rating> 0"><ion-icon name="star" class="starrate"></ion-icon> {{item.ratings}}</span>
            </p>

            <div class="footerpart" style="display: flex;align-items: center;">
             
             

            <ion-button fill="outline" shape="round" class="boomark" [ngClass]="{'shortlisted': isShortlisted(item.collegeid)}"
            (click)="toggleShortlist(item.collegeid)">
            <ion-icon [name]="isShortlisted(item.collegeid) ? 'bookmark' : 'bookmark-outline'"
              [class.active]="isShortlisted(item.collegeid)">
            </ion-icon>
          </ion-button>

              <ion-button shape="round" class="capitalize greenbtn" style="margin-left:2px; margin-right:2px"
                (click)="brochure(item.collegeid)">
                <ion-icon name="arrow-down-circle" class="mr-6"></ion-icon>
                Brochure
              </ion-button>
              <ion-button shape="round" class="capitalize greenbtn"
                (click)="clgpredict(item.collegeid,item.CatId,item.subCatName)">
                Predict Admission
              </ion-button>
            </div>

          </ion-card>
        </ion-slide>
      </ion-slides>

    </div>
  </div>





  <div *ngIf="suitclgarry && suitclgarry.length > 0">
    <div class="thirdsection">
      <div class="HeadTxt">
        <h5> Best suited colleges for you</h5>
        <p>Because you showed interest in {{ selectedCourseName }}
        </p>
      </div>
      <div>
        <ion-slides [options]="slideOptssuited">

          <ion-slide *ngFor="let item of suitclgarry">
            <ion-card  class="size_setpop">
              <div class="imgHead">

                <p class="tit_set">
                  {{ item.title.length > 23 ? (item.title | slice:0:23) + '...' : item.title }}
                </p>
                <img class="img_align" [src]="item.logo" onerror="this.src='../../assets/clg_img/no_image2.jpg';">
              </div>

              <p class="set_botm">
                <ion-icon name="location-outline"></ion-icon>{{item.cityname}}
              </p>
              <p style="display: flex;"> <span class="spn">{{item.courseCount}} courses</span>
                <ion-icon name="star" class="starrate"></ion-icon><span
                  class="spnn">{{item.rating.totalRateCount}}</span>
              </p>

              <div class="footerpart" style="display: flex;align-items: center;">

                <ion-button fill="outline" shape="round" class="bookmark"
                  [ngClass]="{'shortlisted': isShortlisted(item.id)}" (click)="toggleShortlist(item.id)">
                  <ion-icon [name]="isShortlisted(item.id) ? 'bookmark' : 'bookmark-outline'"
                    [class.active]="isShortlisted(item.id)">
                  </ion-icon>
                </ion-button>

                <ion-button shape="round" class="capitalize greenbtn" 
                  (click)="brochuresuit(item.id)">
                  <ion-icon name="arrow-down-circle" class="mr-6"></ion-icon> Brochure
                </ion-button>
                <ion-button shape="round" class= "capitalize greenbtn"
                  (click)="clgpredict(item.id,item.CatId,item.subCatName)">
                  Predict Admission
                </ion-button>
              </div>
            </ion-card>
          </ion-slide>
        </ion-slides>
      </div>
    </div>
  </div>











  <!-- news & update -->
  <div *ngIf="latenpopArr && popularArr.length > 0">
    <ion-row class="border-y">

      <ion-col size="12" class="selfcenter">
        <span style="font-weight: 500;font-size: 18px;"> Latest & Popular Articles </span>
      </ion-col>
    </ion-row>
  

  <div class="mx10">
    <ion-segment [scrollable]="true" value="Latest" (ionChange)="segmentChanged($event)">
      <ion-segment-button value="Latest">
        <ion-label>Latest</ion-label>
      </ion-segment-button>
      <ion-segment-button value="Popular">
        <ion-label>Popular</ion-label>
      </ion-segment-button>
    </ion-segment>
    <div *ngIf="selectedSegment === 'Latest'" class="mt10">
      <div *ngFor="let latest of latenpopArr">
        <ion-row class="setrw mb5 mt6 pb0">
          <ion-col size="8" (click)="articlesdetails(latest.id)">
            <p class="p1">{{latest.title}}: </p>
            <p class="p2"> {{latest.post_rate_date}}</p>
            <p class="p3">Views : {{latest.views}} </p>
          </ion-col>
          <ion-col size="4">
            <img [src]="latest.image">
          </ion-col>
        </ion-row>
      </div>
    </div>
    <div *ngIf="selectedSegment === 'Popular'">
      <div *ngFor="let popular of popularArr">
        <ion-row class="setrw mb5 mt6 pb0">
          <ion-col size="8" (click)="articlesdetails(popular.id)">
            <p class="p1">{{popular.title}}: </p>
            <p class="p2">{{popular.post_rate_date}}</p>
            <p class="p3">Views : {{popular.views}} </p>
          </ion-col>
          <ion-col size="4">
            <img [src]="popular.image">
          </ion-col>
        </ion-row>
      </div>
    </div>

  </div>
</div>


</div>