<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-grid >
      <ion-row>
        <ion-col size="2">
          <ion-icon name="chevron-back-outline" class="f30" (click)="bck()"></ion-icon>
        </ion-col>
        <ion-col size="8" class="text-center">
          <h2 class="primaryhead m0">Profile</h2>
        </ion-col>
        
        <ion-col size="2" class="text-right">
          <!-- <ion-icon name="search-outline" class="primaryhead f30"></ion-icon> -->
        </ion-col>
        </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header> 

<ion-content [fullscreen]="true" class="bgapp">

  <!-- <div class="logocover"> -->
    <!-- <div class="matchvs"> -->
      <!-- <div class="teamlogo"><img src="assets/img/female-03.jpg"> -->
        <!-- <ion-icon name="camera"></ion-icon> -->
      <!-- </div> -->
    <!-- </div> -->
  <!-- </div> -->

<div class="space_side">

  <div class="prForm mt-3rem">
  <ion-item class="ion-margin-top">
    <ion-label position="floating" >Name </ion-label>
    <ion-input ></ion-input>
  </ion-item>
  <!-- <ion-item > -->
    <!-- <ion-label  position="floating" >Username </ion-label> -->
    <!-- <ion-input ></ion-input> -->
  <!-- </ion-item> -->
  <!-- <ion-item > -->
    <!-- <ion-label  position="floating" >Bio </ion-label> -->
    <!-- <ion-input ></ion-input> -->
  <!-- </ion-item> -->
  <!-- <ion-item> -->
    <!-- <ion-label  position="floating" >Link</ion-label> -->
    <!-- <ion-input></ion-input> -->
  <!-- </ion-item> -->
  <!-- <ion-item> -->
    <!-- <ion-label position="floating" >Location </ion-label> -->
    <!-- <ion-input ></ion-input> -->
  <!-- </ion-item> -->

</div>
  
  <ion-button expand="block" class="mt-2">Update</ion-button>

</div>


</ion-content>
